<%= form_with(model: event, data: { controller: 'nested-form',
  nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <template data-nested-form-target="template">
    <%= form.fields_for :guests, Guest.new, child_index: 'NEW_RECORD' do |guest_fields| %>
      <%= render "guest_form", f: guest_fields %>
    <% end %>
  </template>

  <%= form.fields_for :guests do |guest_fields| %>
    <%= render "guest_form", f: guest_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target -->
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add guest</button>

  <div>
    <%= form.submit %>
  </div>
<% end %>
